#paginacao {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 40px 0;
    list-style: none;
    padding: 0;
}

#paginacao button {
    padding: 8px 14px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 5px;
}

#paginacao button:hover {
    background: #a00b0b;
    color: white;
}

#paginacao li {
    display: flex;
}

.paginacao {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagina-atual {
    background: #a00b0b;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#paginacao span {
    padding: 8px;
    font-weight: bold;
}